@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&family=Josefin+Slab:wght@100;200&family=Marcellus&family=Pacifico&family=Roboto+Mono:wght@300&display=swap');
body {
  color: #222;
  font-family: "Roboto Mono", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
}

h1,
h2 {
  font-weight: 900;
}






/* ignore these rules ... for now :) */

figure {
  margin: 0;
}

main {
  max-width: 600px
}
