@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&family=Josefin+Slab:wght@100;200&family=Marcellus&family=Pacifico&family=Roboto+Mono:wght@300&display=swap');
body {
  color: #222;
  font-family: "Roboto Mono", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 2;
}


h1,
h2 {
  font-weight: 900;
}

figcaption{
  font-size: 14px;
  font-style: italic;
}

.attribution {
  text-align: right;
}

a {
  text-decoration: none;
  color: rgb(84, 186, 244);
}
a:visited {
  color: rgb(145, 75 ,0);
}

a:link {
  color: #4776ba;
}

a:hover {
  background-color: #fff;
  color: rgba(26,79,58,0.1);
}

a:active {
  color: rgb(255, 186, 198);
}





/* ignore these rules ... for now :) */

figure {
  margin: 0;
}

main {
  max-width: 600px
}
